main {
  display: grid;
  grid-template-columns: 23vw 23vw 23vw 23vw;
  gap: 1vw;
}
div {
  color: rgb(255, 255, 255);
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3vh;
  margin: 5px;
  border-radius: 10px;
}
p {
  color: rgb(255, 255, 255);
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3vh;
  margin: 5px;
  padding: 5vw;
  border-radius: 5px;
}